.slider {
  position: relative;
  width: 980px;

  &__slide {
    width: calc(100% / 3);
  }

  &__slide img {
    width: 100%;
    height: auto;
  }

  .swiper-button-next {
    right: -50px;
  }

  .swiper-button-prev {
    left: -50px;
  }

  .swiper-pagination {
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);

    .swiper-pagination-bullet {
      margin: 0 5px;
    }
  }
}
