<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Document</title>
  <meta name="description" content="">

  <meta property="og:title" content=""><!-- To support Twitter Cards you need to fill in the content. -->
  <meta property="og:type" content="website"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
  <meta property="og:image" content=""><!-- You need to fill in the content with the production URL of the image. -->
  <meta property="og:url" content=""><!-- You need to fill in the content with the production URL of this page. -->
  <meta property="og:description" content=""><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
  <meta name="twitter:card" content="summary">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include('/gtm-head') %>

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/modal/style.css">
</head>

<body>

  <%- include('/gtm-body') %>

  <div class="l-page">

    <%- include('/header') %>

    <main class="l-main">
      <ul class="thumbnail-list">
        <li class="thumbnail-list__item">
          <button class="button" data-modal-trigger="1">
            <img src="/assets/images/pages/modal/modal_01.jpg" alt="">
          </button>
        </li>
        <li class="thumbnail-list__item">
          <button class="button" data-modal-trigger="2">
            <img src="/assets/images/pages/modal/modal_02.jpg" alt="">
          </button>
        </li>
        <li class="thumbnail-list__item">
          <button class="button" data-modal-trigger="3">
            <img src="/assets/images/pages/modal/modal_03.jpg" alt="">
          </button>
        </li>
        <li class="thumbnail-list__item">
          <button class="button" data-modal-trigger="4">
            <img src="/assets/images/pages/modal/modal_04.jpg" alt="">
          </button>
        </li>
        <li class="thumbnail-list__item">
          <button class="button" data-modal-trigger="5">
            <img src="/assets/images/pages/modal/modal_05.jpg" alt="">
          </button>
        </li>
        <li class="thumbnail-list__item">
          <button class="button" data-modal-trigger="6">
            <img src="/assets/images/pages/modal/modal_06.jpg" alt="">
          </button>
        </li>
        <li class="thumbnail-list__item">
          <button class="button" data-modal-trigger="7">
            <img src="/assets/images/pages/modal/modal_07.jpg" alt="">
          </button>
        </li>
        <li class="thumbnail-list__item">
          <button class="button" data-modal-trigger="8">
            <img src="/assets/images/pages/modal/modal_08.jpg" alt="">
          </button>
        </li>
      </ul>
    </main><!-- .l-main -->

    <div class="modal" data-modal-container>
      <div class="modal__bg" data-modal-close></div>
      <div class="modal__container">
        <div class="modal__inner">
          <div class="image" data-modal-target="1">
            <img src="/assets/images/pages/modal/modal_01.jpg" alt="">
          </div>
          <div class="image" data-modal-target="2">
            <img src="/assets/images/pages/modal/modal_02.jpg" alt="">
          </div>
          <div class="image" data-modal-target="3">
            <img src="/assets/images/pages/modal/modal_03.jpg" alt="">
          </div>
          <div class="image" data-modal-target="4">
            <img src="/assets/images/pages/modal/modal_04.jpg" alt="">
          </div>
          <div class="image" data-modal-target="5">
            <img src="/assets/images/pages/modal/modal_05.jpg" alt="">
          </div>
          <div class="image" data-modal-target="6">
            <img src="/assets/images/pages/modal/modal_06.jpg" alt="">
          </div>
          <div class="image" data-modal-target="7">
            <img src="/assets/images/pages/modal/modal_07.jpg" alt="">
          </div>
          <div class="image" data-modal-target="8">
            <img src="/assets/images/pages/modal/modal_08.jpg" alt="">
          </div>
        </div>
      </div>
    </div>

    <%- include('/footer') %>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>
  <script src="/assets/scripts/pages/modal/index.js" defer></script>

</body>

</html>
