.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.5);
  }

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &__inner {
    position: relative;
    width: 245px;
    height: 245px;
  }

  &__inner .image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &.is-active {
      opacity: 1;
    }
  }
}

.modal.is-active {
  visibility: visible;
  opacity: 1;
}
